{% extends 'core/base.html' %}

{% load static %}
{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contacts-bg.jpg' %}{%endblock %}
{% block headers %}
    <h1 style = 'font-size: 40px;'>Contacto</h1>
    <span class="subheading">Redes sociales</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Gracias por visitar mi página web. Si tienes alguna pregunta sobre mis proyectos, 
                estudios, experiencias o si está interesado/a en discutir posibles colaboraciones, 
                no dudes en escribirme. Estaré encantada de recibir tu mensaje y responder lo más pronto posible. &#128512;
            </p>
            <br>
            <p><b>LinkedIn: </b><a href="https://www.linkedin.com/in/mariagonzgarc/" target="_blank" style="text-decoration: none;">María González García</a></p>
            <p><b>GitHub: </b> <a href="https://github.com/mgonzalz" target="_blank" style="text-decoration: none;">@mgonzalz</a></p>
            <p><b>Correo electrónico: </b> <a href="mailto: mgonzgarc@myuax.com" target="_blank">mgonzgarc@myuax.com</a></p>
        </div>
    </div>
{% endblock %}
